nav ul>li.careers{margin-right:15px}
/*above-the-fold styles end*/

.nopadding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.bot-btn.white-snow {
    background: #FFFFFF;
    color: #2F80ED;
    border: none;
    border-radius: 4px;
    margin: 7px;
    padding: 15px 23px;
}
.bot-btn.white-snow:hover {
    background-color: #F2F2F2 !important;
    transition-duration: 0.5s;
    text-decoration: none;
}

.bot-btn.white-snow.message-send {
    padding: 17px 23px;
}

.bot-btn.blue-dark-blue {
    background: #2F80ED;
    color: #FFF;
    border: 1px solid #2F80ED;
    border-radius: 4px;
    margin: 7px 7px 7px 0;
    padding: 14px 23px;
}
.bot-btn.blue-dark-blue.contact {
    border-color: #FFF;
    background: transparent;
}
.bot-btn.blue-dark-blue:hover {
    background: #2374C4;
    transition-duration: 0.5s;
    text-decoration: none;
}
.bot-btn:hover .play-img {
    background: url("../img/play-white.svg");
    transition-duration: 0.5s;
    margin-bottom: 0;
    padding-bottom: 5px;
}

.bot-btn.select-side {
    padding: 14px;
    display: block;
    width: 92%;
    margin: auto;
}
.bot-btn.select-side.center {
    background: #2F80ED;
    color: #FFF !important;
}
.bot-btn.select-side.center:hover {
    background: #2374C4 !important;
}

.customer-img {
    margin: 0 16px;
    width: 88px;
    height: 88px;
    display: block;
    float: left;
}
.customer-img.first {
    margin-top: 8px;
}



.slide-2 .right {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    position: relative;
    min-height: 333px;
}

.slide-2 .bot-preview-block {
    padding-left: 0;
    padding-right: 0;
    background: linear-gradient(90deg, #1464D0 0%, #4D99FF 100%);
    opacity: 1.00;
    overflow: hidden;
    height:638px;
}

.iphone-image {
    position: relative;
    bottom: 0;
}

.slide-2 .iphone-image {
    background: url("../img/musement.png");
    display: block;
    bottom: 0;
    height: 100%;
    width: auto;
}

.slide-2 .description {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    padding-bottom: 30px;
}

.slide-2 h2 {
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0.0166px;
    color: #4F4F4F;
    text-align: left;
}

.slide-2 p {
    font-size: 19px;
    line-height: 140%;
    letter-spacing: 0.0166px;
    color: #828282;
    text-align: left;
    margin-top: 20px;
    font-weight: 300;
}

.slide-2, .slide-3 {
    padding-left: 0;
    padding-right: 0;
}

.slide-3 {
    width: 100%;
    display: block;
    float: left;
    padding-bottom: 33px;
}

.slide-3 .top {
    text-align: center;
}

.slide-3 h2 {
    font-size: 28px;
    line-height: 100%;
    color: #4F4F4F;
    margin: 60px auto 30px auto;
}

.slide-3 h3 {
    color: #828282;
    font-size: 22px;
    margin-bottom: 60px;
}

.slide-3 p {
    font-size: 18px;
    line-height: 140%;
    color: #828282;
    margin: 0 auto 60px auto;
}

.slide-3 .bots-advantages {
    padding: 22px 12px;
}
.slide-3 .bots-advantages>img {
    width: 144px;
    height: 144px;
}
.slide-3 .bots-advantages p {
    margin: 30px 20px 20px 20px;
}
.slide-3 .bots-advantages.middle p {
    margin: 30px 88px 20px 88px;
}

.light-blue-text {
    color: #56CCF2;
}

.navy-blue-text {
    color: #2F80ED;
}

.check-icon-container {
    display: table;
    float: left;
}
.check-icon {
    display: table-cell;
    width: 30px;
    vertical-align: middle;

}

.slide-4 {
    display: block;
    float: left;
    width: 100%;
    background: linear-gradient(116.57deg, #1464D0 0%, #4D99FF 100%);
    position: relative;
}

.slide-4 {
    padding-top: 133px;
    padding-bottom: 66px;
    overflow: hidden;
}

.slide-4 h2 {
    font-size: 28px;
    line-height: 100%;
    color: #FFFFFF;
}

.slide-4 p {
    font-size: 19px;
    line-height: 140%;
    letter-spacing: 0.0166px;
    color: #E0E0E0;
    margin-top: 20px;
    font-weight: 300;
    min-width: 100%;
}

.slide-4 .bottom {
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.slide-4 .bottom ul {
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 0;
    height: 88px;
}

.slide-4 .bottom ul>li {
    padding: 10px 15px;
    width: 16.66%;
    height: 100%;
    border: 1px solid #e0e0e0;
    border-left: none;
    border-bottom: none;
    display: block;
    float: left;
    position: relative;
    background-color: #205EB4;
    /*overflow: hidden;*/
}
.slide-4 .bottom ul>li.active {
    background: #448EEF;
}

.bottom-list-item {
    cursor: pointer;
}
.bottom-list-item:first-child>img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
}

.slide-4 .bottom ul>li:last-child {
    border-right: none;
}
.slide-4 .bottom ul>li:first-child:hover,
.slide-4 .bottom ul>li:last-child:hover {
    cursor: pointer;
}

.slide-4 .bottom ul>li:first-child>img,
.slide-4 .bottom ul>li:last-child>img {
    padding-top: 16px;
}

.slide-4 .bottom ul>li a {
    font-size: 18px;
    line-height: 100%;
    color: #e0e0e0;
    text-align: center;
    text-decoration: none;
}

.slide-4 .bottom ul>li a.active {
    color: #FFFFFF;
}

.slide-4 .right {
    height: 290px;
    /*overflow: hidden;*/
    /*margin-bottom: 88px;*/
}

.slide-4 .bot-example-wrapper {
    height: 100%;
    /*position: relative;*/
    /*border: 1px solid red;*/
}

.slide-4 .bot-example {
    position: absolute;
    /*overflow-y: scroll;*/
    width: 100%;
    visibility: hidden;
}

.slide-4 .middle {
    overflow: hidden;
    margin-bottom: 160px;
}

.phrase-box {
    max-width: 64%;
    width: auto;
    border-radius: 35px;
    font-size: 18px;
    line-height: 100%;
    padding: 13px 20px;
    text-align: left;
}
.phrase-box.person {
    margin-bottom: 10px;
    margin-left: 33%;
    background: #205EB4;
    color: #FFF;
}
.phrase-box.bot {
    margin-bottom: 10px;
    margin-left: 6px;
    background: #FFF;
    color: #4F4F4F;
}

.slide-5 {
    display: block;
    float: left;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 60px;
}

.slide-5 p {
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.0166px;
    color: #828282;
    text-align: center;
}

.slide-5 h2 {
    font-size: 28px;
    line-height: 100%;
    color: #4F4F4F;
    margin: 60px auto 30px auto;
}

.slide-5 .we-do-img>img {
    height: 80px;
}

.slide-5 .top {
    margin-bottom: 60px;
}

.slide-5 .top p {
    width: 55%;
    margin: auto;
}

.slide-5 .using-description {
    width: 85%;
    margin: auto;
    font-weight: 300;
}

.slide-5 .using-description-title {
    margin-top: 30px;
}

.slide-5 .center {
    padding: 0 5%;
}

.slide-6 {
    display: block;
    float: left;
    width: 100%;
    background-color: #FAFAFA;
    padding-right: 0;
    position: relative;
}

.slide-6 h2 {
    font-size: 28px;
    line-height: 100%;
    color: #4F4F4F;
    margin-top: 18%;
}

.slide-6 p {
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.0166px;
    color: #828282;
}

.slide-6 .top p {
    width: 55%;
    margin: 0 auto 60px auto;
}

.slide-6 .top h2 {
    margin-top: 60px;
    margin-bottom: 30px;
}

.slide-6 .col-lg-1>a .carousel-control {
    width: 60px;
    height: 60px;
    margin-top: -300px;
}
.carousel-control > img {
    width: 60px;
}

.carousel-control.left, .carousel-control.right {
    background: none;
    padding-top: 200px;
}

.slide-6 .bot-card p.description {
    width: 48%;
    font-weight: 300;
}

.musement .inner {
    position: relative; margin-bottom: -66px; height: 600px; background: url('../img/iphone6full.png') no-repeat center;
}

.bot-video {
    width: 254px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.progressbar-container {
    display: block;
    position: absolute;
    left: 0;
    bottom: 39%;
    width: 100.3%;
    height: 6%;
}

.slide-7 {
    display: block;
    float: left;
    width: 100%;
    border: 1px solid #CCCCCC;
    border-left: none;
    border-right: none;
}

.slide-7 h2 {
    font-size: 28px;
    line-height: 100%;
    color: #4F4F4F;
}

.slide-7 p {
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.0166px;
    color: #828282;
}

.slide-7 .top h2 {
    margin-top: 6vh;
}

.slide-7 .top p {
    width: 55%;
    margin: 30px auto;
}

.slide-7 .brand-img>img {
    height: 60px;
    width: 100%;
}
.slide-7 .brand-img.smaller>img {
    width: 80%;
    margin-left: 8%;
}
.slide-7 .brand-img.last>img {
    width: 88%;
    margin-right: 12%;
}

.slide-7 .video-preview-img {
    width: 90%;
    margin: 10% 3% 2% 3%;
}

.slide-7 .video-play-btn {
    /*display: block;*/
    /*background: #2F80ED;*/
    /*width: 14%;*/
    /*height: 12%;*/
    /*border-radius: 100%;*/
    /*margin: -30% auto 0 auto;*/
}

.slide-7 .content .col-lg-4 {
    margin-bottom: 5%;
}

.slide-7 .content p {
    text-align: left;
    padding: 8px 18px;
}

.slide-7 .content .customer p {
    padding: 0;
}

.slide-8 {
    max-width: 100%;
    display: block;
    float: left;
    padding-left: 0;
    padding-right: 0;
}

.slide-8 h2 {
    margin: 60px auto 0 auto;
}

.slide-8 .pricing .block {
    background: #FFFFFF;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
    margin-top: 13px;
}
.slide-8 .pricing.center {
    z-index: 3;
    box-shadow: 0 5px 40px 10px rgba(0, 0, 0, 0.1);
}
.slide-8 .pricing.center .block  {
    margin-top: 0;
}
.slide-8 .pricing .block .title-block {
    text-align: center;
    height: 50px;
    padding-top: 14px;
}
.slide-8 .pricing .block .title-block>p {
    color: #4F4F4F;
}
.slide-8 .pricing .block .top-subblock {
    width:100%;
    background: #65A7FF;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}
.slide-8 .pricing.center .block .top-subblock {
    height: 98px;
    padding-top: 18px;
    background: #2F80ED;
}
.slide-8 .pricing .block .top-subblock p {
    color: #FFFFFF;
    margin: 0 auto;
    padding-top: 0
}
.slide-8 .pricing .block .top-subblock h2 {
    color: #FFFFFF;
    font-size: 52px;
    margin: 0 auto;
}

.slide-8 .pricing .block .middle-subblock {
    border-bottom: 1px solid #F2F2F2;
}
.slide-8 .pricing .block .middle-subblock p {
    display: block;
    margin: 24px auto;
    width: 80%;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.0166px;
    color: #828282;
}

.slide-8 .pricing .block .bottom-subblock {
    height:70px;
    padding-top: 11px;
}

.slide-8 .pricing.center, .slide-8 .pricing {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.slide-8 .pricing.center .block .top-subblock p {
    margin: 20px auto;
    letter-spacing: 1px;
    font-size: 20px;
}

.slide-8 .top {
    display: block;
    float: left;
    width: 100%;
    background-color: #FFFFFF;
    margin-bottom: 60px;
    padding-bottom: 60px;
}

.slide-8 .middle h2 {
    font-size: 28px;
    line-height: 100%;
    color: #FFFFFF;
    padding-top: 33px;
}

.slide-8 p {
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.0166px;
    color: #FFFFFF;
}

.slide-8 .top .top-text {
    width: 55%;
    margin: 30px auto 60px auto;
    color: #828282;
}

.slide-8 .middle {
    padding-top: 30px;
    background: linear-gradient(116.57deg, #1464D0 0%, #4D99FF 100%);
    padding-bottom: 64px;
    text-align: center;
}

.slide-8 .bottom {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 45px;
}
.slide-8 .bottom p{
    margin-right: 20px;
}

.slide-8 .middle p {
    width: 36%;
    padding: 30px 0 50px 0;
    margin: 0 auto;
}

.slide-8 .bottom p {
    display: inline-block;
    color: #2F80ED;
}

.slide-9 {
    width: 100%;
    min-height: 100vh;
    display: block;
    float: left;
}

.slide-9 .top {
    min-height: 160px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) -30%, #FFFFFF 79%), url("../img/map.png");
    background-size: cover;
}

.slide-9 .middle {
    min-height: 30vh;
}

.slide-9 .middle h2 {
    font-size: 28px;
    line-height: 100%;
    color: #4F4F4F;
    margin: 30px auto;
}

.slide-9 .middle p {
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.0166px;
    color: #828282;
    width: 55%;
    margin: 0px auto 30px auto;
    padding-bottom: 20px;
}

.slide-9 .bottom {
    /*min-height: 55vh;*/
    margin: 80px auto;
}

.slide-9 .team-img {
    width: 100%;
    height: auto;
}

.slide-10 {
    width: 100%;
    display: block;
    float: left;
    background: linear-gradient(116.57deg, #1464D0 0%, #4D99FF 100%);
    margin-top: -10%;
}

.slide-10 .top {
    padding-top: 100px;
}

.slide-10 .top h2 {
    font-size: 28px;
    line-height: 100%;
    color: #FFFFFF;
    margin-top: 60px;
}

.slide-10 .top p {
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.0166px;
    color: #FFFFFF;
    width: 55%;
    margin: 30px auto;
    padding-bottom: 20px;
}

.slide-10 .bot-btn-blue {
    border-color: #FFF;
}

.fb-messenger-img {
    padding-bottom: 3px;
    height: 22px;
}

#contact-form {
    margin-top: 30px;
}

#contact-form input[type=text],
#contact-form input[type=email],
#contact-form textarea,
#contact-form select
{
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 100%;
    font-weight: 300;
    color: #FFFFFF;
}
#contact-form select:hover {
    cursor: pointer;
}
#contact-form select option.background{
    background: #205EB4;
    font-weight: 300;
}
#contact-form textarea {
    padding-top: 22px;
    padding-bottom: 18px;
    line-height: 140%;
}

#contact-form select:disabled {
    opacity: .5;
}

/*#contact-form input[type=text]:-webkit-autofill,*/
/*#contact-form input[type=text]:-webkit-autofill:hover,*/
/*#contact-form input[type=text]:-webkit-autofill:focus,*/
/*#contact-form input[type=text]:-webkit-autofill,*/
/*#contact-form textarea:-webkit-autofill,*/
/*#contact-form textarea:-webkit-autofill:hover,*/
/*#contact-form textarea:-webkit-autofill:focus,*/
/*#contact-form select:-webkit-autofill,*/
/*#contact-form select:-webkit-autofill:hover,*/
/*#contact-form select:-webkit-autofill:focus */
/*{*/
/*background-color: #2e6da4;*/
/*}*/

#contact-form input:focus, #contact-form select:focus, #contact-form textarea:focus {
    outline: none;
}

#contact-form input::-webkit-input-placeholder, #contact-form textarea::-webkit-input-placeholder {
    color: #FFFFFF;
}

#contact-form input[type=submit] {
    margin: 30px auto;
}

.slide-10 .socials-bottom {
    margin: 0 auto 30px auto;
}

.slide-10 .social-icon {
    width: 30px;
    display: inline-block;
    margin: 0 5%;
}
.slide-10 .social-icon:hover {
    -webkit-filter: drop-shadow( 0px 4px 8px rgba(0, 0, 0, 0.4) );
    filter: drop-shadow( 0px 4px 8px rgba(0, 0, 0, 0.4) );
}

.slide-10 .social-icon.right {
    width: 48px;
    margin: 4% 0 2% 5%;
    padding: 0 6px 6px 6px;
}

#footer {
    width: 100%;
    min-height: 12vh;
    display: block;
    float: left;
}

#footerInner {
    width: 100%;
    min-height: 12vh;
    background: #FAFAFA;
    text-align: center;
}

#footer-logo {
    width: 50px;
    height: auto;
    margin: 20px auto;
}

.botscrew-color {
    color: #2F80ED;
}

@media (max-width: 1311px) {
    .bot-btn.select {
        padding: 15px 155px !important;
    }
}

@media (max-width: 1199px) {
    .navbar-brand {
        padding-left: 50px;
    }
    .navbar-nav>li:last-child {
        padding-right: 50px;
    }

    .slide-4 .bottom ul>li:nth-child(3), .slide-4 .bottom ul>li:nth-child(7) {
        padding: 10px 0;
    }

    .slide-3 .advantages-list {
        margin-top: 40px;
    }

    .slide-2 .description {
        padding-bottom: 25px;
    }

    .slide-6 .bot-card p.description {
        width: 55%;
    }

    .slide-8 .pricing .block .middle-subblock {
        min-height: 180px;
    }
    .slide-8 .pricing.center .block .middle-subblock {
        min-height: 246px;
    }
}

@media (min-width: 1000px) {
    .slide-4 .bottom ul>li:nth-child(7) {
        border-right: none;
    }
    .slide-4 .bottom ul>li:first-child, .slide-4 .bottom ul>li:last-child {
        display: none;
    }
}

@media (max-width: 999px) {
    .slide-4 .bottom ul>li {
        width: 21%;
        display: none;
        padding: 10px 15px;
    }
    .slide-4 .bottom ul>li:nth-child(2), .slide-4 .bottom ul>li:nth-child(3),
    .slide-4 .bottom ul>li:nth-child(4), .slide-4 .bottom ul>li:nth-child(5) {
        display: block;

    }
    .slide-4 .bottom ul>li:nth-child(3) {
        padding: 10px 0;
    }
    .slide-4 .bottom ul>li:first-child, .slide-4 .bottom ul>li:last-child {
        display: block;
        width: 8%;
        padding-top: 7px;
        padding-right: 7px;
    }
    .slide-4 .bottom ul>li:first-child {
        padding: 7px;
    }
    .slide-4 .bottom ul>li:last-child {
        padding-left: 12px;
    }
}

@media (min-width: 992px) {
    .slide-1 .sub-heading {
        min-height: 176px;
    }

    .slide-6 .bot-card p, .slide-6 .bot-card h2 {
        text-align: left;
    }

    .menu-item.bot-btn.blue-dark-blue.messenger {
        float: left;
    }
}
@media (max-width: 991px) {
    .slide-1 .inner {
        display: block;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 40%;
        transform: translateY(-55%);
    }

    .slide-1 .heading {
        font-size: 26px;
    }
    .type-it {
        font-size: 116px;
    }

    .navbar-brand {
        padding-left: 10px;
    }
    .navbar-nav>li:last-child {
        padding-right: 10px;
    }

    .slide-2 .description {
        padding-top: 0;
    }

    .slide-2 p {
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0.0166px;
        color: #828282;
        text-align: left;
        margin-top: 20px;
    }

    .slide-2 .iphone-image {
        height: 92%;
        width: auto;
    }

    .slide-3 .bots-advantages.middle p {
        margin: 44px 44px 12px 44px;
    }
    .slide-3 .bots-advantages p {
        margin: 44px 6px 12px 6px;
    }

    .slide-4 .right {
        margin-bottom: 0;
        height: 350px;
    }
    .slide-4 .bot-example {
        margin-top: 66px;
    }

    .slide-5 .using-description {
        width: 100%;
    }

    .carousel-control.left, .carousel-control.right {
        padding-top: 444px;
    }

    .slide-6 .musement>img {
        margin-top: 33px;
    }

    .slide-6 .bot-card p.description {
        width: 100%;
    }

    .menu-item.bot-btn.blue-dark-blue.messenger {
        margin-bottom: 40px;
    }

    .slide-8 .middle p {
        width: 50%;
    }

    .musement{
        margin-top: 60px;
    }

    .menu-item.bot-btn.blue-dark-blue.messenger {
        margin-right:2%;
    }

    .slide-7 .content .col-lg-4 {
        padding-left: 20px;
    }

    .customer-img {
        margin-left: 40px;
    }
    .bot-btn.blue-dark-blue.request {
        max-width: 33%;
    }

    .slide-6 .top p {
        width: 76%;
        text-align: left;
    }
    .slide-6 .top h2 {
        text-align: left;
        margin-left: 12%;
    }
}

@media (max-width: 968px) and (min-width: 768px) {
    .bot-card {
        margin-top: -50px;
    }
}

@media (min-width: 768px) {
    .navbar-header .bot-btn.white-blue.contact {
        display: none;
    }

    .slide-2 .right {
        height: 638px;
    }

    .slide-5 .left {
        padding-left: 6%;
    }

    .slide-5 .right {
        padding-right: 6%;
    }

    .slide-8 .pricing {
        padding: 0;
    }

    .menu-item.bot-btn.blue-dark-blue.messenger {
        margin-bottom: 20px;
        text-align: center;
    }
}

@media (max-width: 799px) and (min-width: 768px) {
    .navbar-nav {
        padding: 24px 12px;
    }
}

@media (max-width: 767px) {
    .slide-1 .heading {
        font-size: 24px;
    }
    #type-it {
        font-size: 102px;
    }

    .bot-btn.white-blue.noborder:hover{color:#2F80ED!important}

    .navbar-nav>li:last-child {
        padding-right: 0;
    }

    .slide-1 .second {
        margin-top: -10px;
    }

    .navbar-header .bot-btn.white-blue.contact {
        position: absolute;
        margin: 20px;
        right: 2%;
    }
    .navbar-default .navbar-nav>li:first-child {
        display: none;
    }
    .navbar-brand {
        margin: 12px;
    }

    .navbar-nav {
        margin: 0;
        padding: 24px 0;
        text-align: center;
    }
    .navbar-default .navbar-nav>li {
        margin: 0 3.3%;
        display: inline-block;
    }

    .navbar li>.menu-item.bot-btn {
        border: none;
    }
    .navbar li>.menu-item.bot-btn:hover {
        background: transparent !important;
    }

    .slide-2 {
        margin-top: 60px !important;
    }

    .slide-2 .col-lg-7 {
        min-height: 72vh;
        height: auto;
    }

    .slide-2 .description {
        padding-bottom: 88px;
        margin-left: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .slide-2 .bot-btn {
        margin-top: 20px;
        margin-bottom: 100px;
        position: absolute;
    }

    .slide-3 .top {
        text-align: left;
    }
    .slide-3 .top p {
        margin-top: 20px;
        margin-left: 20px;
    }

    .slide-3 h3 {
        display: block;
        margin: 0 auto 22px auto;
        width: 90%;
    }

    .slide-3 .bots-advantages {
        padding: 12px 12px 24px 12px;
    }
    .slide-3 .bots-advantages p {
        margin: 22px 66px 6px 66px;
    }
    .slide-3 .bots-advantages.middle p {
        margin: 22px 66px 6px 66px;
    }

    .slide-4 h2 {
        text-align: left;
    }

    .slide-4 .top {
        margin-top: 40px;
    }

    .slide-4 .middle {
        max-height: initial;
    }

    .slide-4 .right img {
        width: 200px;
        margin-top: 2%;
    }

    .slide-4 .bottom ul>li {
        width: 27.34%;
    }
    .slide-4 .bottom ul>li:nth-child(5) {
        display: none;
    }
    .slide-4 .bottom ul>li:nth-child(2), .slide-4 .bottom ul>li:nth-child(4) {
        display: block;
    }
    .slide-4 .bottom ul>li:nth-child(3) {
        padding: 10px 0;
    }
    .slide-4 .bottom ul>li:first-child, .slide-4 .bottom ul>li:last-child {
        width: 8.99%;
    }

    .slide-5 .center, .slide-5 .right {
        margin-top: 44px;
    }

    .slide-5 .top p {
        width: 80%;
    }

    .musement-block {
        position: relative;
    }
    .musement-phone-block {
        min-height: 88vh !important;
        position: relative;
        bottom: 0;
    }

    .slide-6 .top {
        text-align: left;
    }

    .slide-6 .bot-card p.description {
        width: 100%;
        margin-bottom: 30px;
    }
    .slide-6 .bot-card p, .slide-6 .bot-card h2 {
        margin: 20px auto;
    }

    .slide-6 .top p {
        margin-bottom: 0;
    }

    .slide-7 .content p {
        margin: 0 3% 2% 3%;
    }

    .slide-8 .pricing.center {
        box-shadow: none;
    }

    .slide-8 .pricing .block {
        border: 1px solid #F2F2F2;
        box-shadow: none;
    }

    .slide-8 .pricing .block .top-subblock {
        background: #2F80ED;
    }

    .slide-10 .top {
        padding-top: 0;
    }

    .bot-btn.select-side {
        background: #2F80ED;
        color: #FFF !important;
    }
    .bot-btn.select-side:hover {
        background: #2374C4 !important;
    }

    .bot-btn.blue-dark-blue.request {
        max-width: 50%;
    }
}

@media (max-width: 666px) {
    .slide-1 .heading {
        font-size: 22px;
    }
    .type-it {
        font-size: 82px;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .bot-btn.blue-dark-blue.request {
        display: block;
        padding: 20px 20px;
        margin:0 auto;
    }
}

@media (max-width: 575px) {
    .slide-1 .heading {
        font-size: 20px;
    }
    .type-it {
        font-size: 64px;
    }

    .slide-2 .right {
        height: 444px;
    }

    .slide-3 .bots-advantages {
        padding: 12px;
        padding-bottom: 24px;
    }
    .slide-3 .bots-advantages p {
        margin: 22px 24px 6px 24px;
    }
    .slide-3 .bots-advantages.middle p {
        margin: 22px 24px 6px 24px;
    }

    .slide-5 .top p {
        width: 90%;
    }

    .slide-6 .col-lg-1>a .carousel-control {
        width: 33px;
    }

    .navbar-default .navbar-nav>li {
        display: inline-block;
    }

    .navbar .container-fluid {
        margin: 0;
    }

    .navbar li .bot-btn {
        margin-bottom: 0;
    }

    .navbar-header {
        width: 100%;
    }

    .container-fluid {
        padding: 0;
    }

    .customer-img {
        margin: 0 16px;
        width: 66px;
        height: 66px;
        display: block;
        float: left;
    }

    .slide-1 {
        min-height: 88vh;
        margin-bottom: 14%;
    }

    .slide-2 .bot-btn {
        position: absolute;
        left: 50%;
        transform: translate(-55%, 0);
        width: 77%;
        text-align: center;
    }

    .slide-2 p {
        width: 94%;
        margin-left: 2%;
        text-align: left;
    }
    .slide-2 h2 {
        margin-left: 2%;
        text-align: left;
    }

    .slide-2, .slide-2 .bot-preview-block, .slide-2 .col-lg-7 {
        min-height: 72vh;
    }

    .slide-2 .col-xs-12.col-sm-6.col-md-6.col-lg-7 {
        padding-left: 0;
    }

    .slide-3 {
        padding-bottom: 60px;
    }

    .slide-3 .top {
        text-align: left;
    }
    .slide-3 .top p {
        margin-top: 20px;
        width: 90%;
    }

    .slide-3 .right {
        padding-left: 15px;
        padding-right: 15px;
    }

    .slide-4 .bottom ul>li {
        width: 41%;
    }
    .slide-4 .bottom ul>li:nth-child(4) {
        display: none;
    }

    .slide-4 .left p {
        margin-left: 5%;
    }

    .slide-4 .col-lg-10 {
        padding-left: 0;
    }

    .phrase-box {
        max-width: 77%;
    }
    .phrase-box.person {
        margin-bottom: 10px;
        width: 77%;
        margin-left: 22%;
    }
    .phrase-box.bot {
        width: 77%;
        margin-bottom: 10px;
        margin-left: 2px;
        background: #FFF;
        color: #4F4F4F;
    }

    .slide-5 .using-description-title, .slide-5 .center, .slide-5 .right {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .slide-6 .top h2 {
        margin-top: 33px;
        margin-left: 20px;
    }
    .slide-6 .top p {
        margin-left: 20px;
        width: 92%;
    }

    .slide-8 .top>p {
        width: 92%;
    }

    .slide-8 .middle p, .slide-8 .bottom p{
        width: 92%;
    }
    .bot-btn.blue-dark-blue.request {
        padding: 14px 18px;
    }

    .slide-8 .bottom {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .slide-8 .bottom p {
        padding-bottom: 23px;
        margin-bottom: 0;
    }

    .bot-btn.blue-dark-blue {
        margin: 0;
    }

    .slide-9 .more-about-div {
        display: block;
        margin: 24px 70px;
        padding: 14px 10px;
    }
    .slide-9 .bot-btn.white-blue.more-about {
        padding: 14px 18px;
    }
    .bot-btn.blue-dark-blue.join {
        padding: 14px;
    }

    .bot-btn.blue-dark-blue.contact {
        padding: 14px;
    }

    .menu-item.bot-btn.blue-dark-blue.messenger {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .slide-9 .middle p, .slide-10 .top p {
        width: 88%;
    }
    .slide-9 .bottom {
        min-height: 1px;
        margin: auto;
    }
}

@media (min-width: 500px) and (max-width: 513px) {
    .navbar-default .navbar-nav>li {
        margin: 0 3.1%;
    }
}

@media (max-width: 499px) {
    .nav>li>a {
        padding: 0 !important;
    }

    .slide-3 .top p {
        margin-left: 12px;
    }

    .carousel-inner .bot-card .left {
        padding-left: 100px;
    }

    .slide-7 .top h2 {
        text-align: left;
        margin-left: 60px;
        width: 80%;
    }
    .slide-7 .top p {
        width: 77% !important;
        text-align: left;
    }

    .slide-8 .middle {
        padding-left: 15px;
        padding-right: 15px;
    }

    .slide-9 .top {
        min-height: 100px;
        background: linear-gradient(160deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 79%), url("../img/map.png");
    }
}

@media (max-width: 467px) {
    .typed-cursor {
        padding: 48px 2px 0 2px;
    }

    .menu-item.bot-btn.blue-dark-blue.messenger {
        padding: 14px 12px;
    }

    .slide-6 .musement>img {
        width: 92%;
    }
    .carousel-control > img {
        width: 44px;
    }

    .musement.demo{
        margin-top: 0;
        height: 400px;
    }
    .musement .inner {
        width: 200px;
        background-size: contain;
        height: 400px;
        /*margin-top: -144px;*/
        bottom: -44px;
        margin: 0 auto;
    }

    .bot-video {
        width: 168px;
    }
}

@media (max-width: 432px) {
    .menu-item.bot-btn.blue-dark-blue.messenger {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .slide-2 .right {
        height: 593px;
    }
    .slide-2 .description {
        margin-bottom: 0;
        padding-bottom: 100px;
    }
    .slide-2 .bot-btn {
        margin-top: 10px;
        margin-bottom: 0;
    }
}

@media (min-width: 414px) and (max-width: 575px) {
    .slide-9 .team-img {
        margin-top: 6%;
    }
}

@media (max-width: 414px) {
    .typed-cursor {
        padding: 22px 2px 0 2px;
    }
    .slide-1 .heading {
        font-size: 18px;
    }
    .type-it {
        font-size: 46px;
    }

    .bot-btn.blue-dark-blue.join {
        display: block;
        width: 50%;
        margin:6px auto;
    }

    .slide-9 .bot-btn.white-blue.more-about {
        display: block;
        width: 50%;
        margin:6px auto;
        margin-bottom: 18px;
    }
    .slide-9 .middle p {
        padding-bottom: 0;
    }

    .slide-2, .slide-2 .bot-preview-block, .slide-2 .col-lg-7 {
        min-height: 66vh;
    }

    .slide-2 .description {
        margin-bottom: 95px;
    }

    .slide-6 .col-lg-1>a .carousel-control {
        margin-top: -200px;
    }

    .carousel-control.left, .carousel-control.right {
        padding-top: 600px;
    }
}

@media (max-width: 384px) {
    .nav>li>a {
        padding: 0;
    }
    .navbar li>.menu-item.bot-btn {
        padding-left: 33%;
    }
}
@media (max-width: 379px) {
    .slide-1 {
        min-height: 66vh;
    }

    .slide-2 .description {
        margin-bottom: 100px;
    }

    .navbar-header span.menu-item {
        display: none;
    }
    .slide-4 .bottom ul>li {
        width: 70%;
    }
    .slide-4 .bottom ul>li:nth-child(3) {
        display: none;
    }
    .slide-4 .bottom ul>li:first-child, .slide-4 .bottom ul>li:last-child {
        width: 15%;
    }

    .slide-7 .top h2 {
        margin-left: 44px;
    }
}

@media (max-width: 369px) {
    .navbar-nav {
        padding: 24px 0;
    }
    .navbar-default .navbar-nav>li {
        margin: 0 2.3%;
        display: inline-block;
    }

    .carousel-control > img {
        width: 32px;
    }
}

@media (max-width: 320px) {
    .menu-item.bot-btn.blue-dark-blue.messenger {
        padding: 14px 2px;
    }

    .slide-8 .top p {
        padding-left: 0;
    }

    .bot-btn.blue-dark-blue.join {
        padding: 14px 22px;
    }
}

@media (max-height: 500px) and (min-width: 800px) {
    .slide-2 {
        margin-top: 45px;
    }
}
