.wrap {
    position: relative;
    margin-bottom: 60px;
}


/* Frame */

.frame {
    height: 400px;
    /*line-height: 300px;*/
    overflow: visible !important;
}

.frame ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    /*font-size: 50px;*/
}

.frame ul li {
    float: left;
    width: 227px;
    height: 100%;
    margin: 0 1px 0 0;
    padding: 0;
    background: transparent;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
}

.frame ul li .member-photo {
    height: 300px;
    background: #2F80ED;
    border-radius: 4px;
    background: center no-repeat;
    background-size: 100%
}
    .frame ul li p {
        text-align: left;
    }
    .frame ul li .title {
        color: #000000;
        margin: 30px 0 10px 0;
    }
    .frame ul li .subtitle {
        color: #000000;
        opacity: .5;
    }

@media (min-width: 992px) {
    .frame ul li:first-child {
        /*margin-left: 5.77%;*/
    }
}


/* Pages */

.pages {
    list-style: none;
    margin: 20px 0;
    padding: 0;
    text-align: center;
}

.pages li {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 4px;
    text-indent: -999px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    background: #fff;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
}

.pages li:hover {
    background: #aaa;
}

.pages li.active {
    background: #666;
}


/* Controls */

.controls {
    margin: 25px 0;
    text-align: center;
}


/* One Item Per Frame example*/

.oneperframe {
    height: 300px;
    line-height: 300px;
}

.oneperframe ul li {
    width: 1140px;
}

.oneperframe ul li.active {
    background: #333;
}


/* Crazy example */

.crazy ul li:nth-child(2n) {
    width: 100px;
    margin: 0 4px 0 20px;
}

.crazy ul li:nth-child(3n) {
    width: 300px;
    margin: 0 10px 0 5px;
}

.crazy ul li:nth-child(4n) {
    width: 400px;
    margin: 0 30px 0 2px;
}
